

.img-fluid
{
	margin: auto;
	height: 600px;
	width: 950px;
}
body
{
	background-image: url(../images/back1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.carousel 
{
    position: absolute;
    margin-left: 2%;
    margin-top: 2%; 
}
/*.card1
{
	margin-top: 2%;
	margin-left: 73%;
}
*/
.jumbotron
{
	 margin-top: 1%;
}
.video
{
	padding-top: 8px;
	
}
.footer 
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
.card-img-top
{
	height: 100%;
	width: 100%;
}